@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
.bg-gray-800 {
  background-color: #2d3748;
}

.hover\:bg-gray-600:hover {
  background-color: #4a5568;
}

.bg-red-500 {
  background-color: #f56565;
}

.hover\:bg-red-700:hover {
  background-color: #c53030;
}

.text-white {
  color: white;
}

.p-4 {
  padding: 1rem;
}
.p-2 {
  padding: 0.5rem;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.space-x-4 > :not(:last-child) {
  margin-right: 1rem;
}

.bg-transparent {
  background-color: transparent;
}

.h-8 {
  height: 2rem;
}

.h-6 {
  height: 1.5rem;
}

.w-8 {
  width: 2rem;
}

.rounded-full {
  border-radius: 9999px;
}